.ant-layout-header{
    background: #54c3f1;
    height: 40px;
    line-height: 40px;
  }
  .layout-content{
    padding: 20px;
  }
  .ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
    left: 0;
    right: auto;
}
.ant-table{
  font-size: 12px;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0;
  .ant-table-thead > tr > th {
    font-weight: bold;
  }
  .ant-table-body{
    margin: 0 !important;

  }
}